* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.img-container {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
    max-width: 100%;
    filter: blur(2px);
    transition: all .4s ease;
}

.img-container img:hover {
    transform: scale(1.1);
    filter: blur(0px);
}